!!! Strict
%html{:xmlns => xmlns="http://www.w3.org/1999/xhtml"}
  %head
    %meta{"http-equiv" => "content-type", :content => "text/html; charset=utf-8"}
    %title 
      S3view
  %body
    = yield
