%form{:action => s3_action, :method => "post", :enctype => "multipart/form-data"}
  %input{:name => "acl", :type => "hidden", :value => default_acl}
  %input{:name => "Content-Type", :type => "hidden", :value => "text/plain"}
  %input{:name => "AWSAccessKeyId", :type => "hidden", :value => access_key_id}
  %input{:name => "policy", :type => "hidden", :value => @policy_document}
  %input{:name => "signature", :type => "hidden", :value => @signature}
  %dl
    %dt
      Filename
    %dd
      %input{:name => "key", :type => "text"}
    %dt
      File
    %dd
      - # The +file+ field must be the last one in the form, 
      - # as any fields below it are ignored by S3.
      %input{:name => "file", :type => "file"}
  %input{:name => "submit", :type => "submit", :value => "Upload"}
